@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero {
  background: linear-gradient(0deg, rgba(0, 17, 47, 0.5) 0%, rgba(0, 17, 47, 0.5) 100%), url("/hero.jpg"), lightgray 0px -225.776px / 100% 168.05% no-repeat;
  background-size: cover;
  background-position: center;
}

.rectangulo {
  right: -39.112px;
  bottom: -53.104px;
}
